{% extends 'devicedash/layout.html' %}
{% load static %}
{% block style %}
<style>
    .container, .left, .right {
        margin: 30px;
    }
    h1 {
        text-align: center;
        font-family: sans-serif;
    }
    .back {
        text-align: right;
    }
    table, tr, td {
        border: 1px solid red;
        border-collapse: collapse;
    }
    table {
        width: 700px;
        background-color: #872341;
        height: 300px;
    }
    td, th {
        height: 20px;
        margin: 3px;
        padding: 8px;  
    }
    .price {
        margin: 4px;
        margin-left: 180px;
        width: 50%;
        text-align: center;
        height: 35px;
        background-color: #F05941;
        color: #22092C;
    }
    h2 {
        margin: 10px;
    }
    .left {
        align-items: center;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    {% if data %}
    <div class="left">
        <img src="{{ data.img }}" alt="{{ data.img }}">
        <h2>{{ data.brand }} {{ data.name }}</h3>
    </div>
    <div class="right" id="device-info">
        <h1 style>Device Information</h1><br>
        <table class="details">
            {% for spec in data.quick_spec %}
                <tr>
                    <th>{{ spec.name }}</th>
                    <td>{{ spec.value }}</td>
                </tr>
            {% endfor %}
            </table>
            <div class="price">
                Starting From ₹ {{ data.price }}/-
            </div>
        </div>
    {% else %}
        <h1>No Data.</h1>
    {% endif %}
</div>
{% endblock %}
